/* init */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
}
#preloader{
    background:url(assets/loader.gif) no-repeat center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}