/* init */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(26, 38, 122);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* #preloader {
  background: url(assets/loader.gif) no-repeat center;
  background-size: 10%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
} */
.auth {
  border-radius: 50px;
  background-color: rgba(14, 14, 14, 0.982);
  width: 70%;
  height: 70%;
  display: flex;
}

.auth-links {
  height: 100%;
  width: 50%;
  border-radius: 50px 0px 0px 50px;
  background-color: #ffffff;
  padding: 2rem;
}

.auth-container {
  position: relative;
  overflow: hidden;
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign-box {
  color: black;
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.sign-box h1 {
  color: rgb(22, 22, 157);
}
.sign-box p {
  text-align: center;
}
form {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
form label {
  margin-bottom: 5px;
  font-weight: 700;
}
form input {
  margin-bottom: 20px;
  width: 100%;
  padding: 9px;
  border-radius: 5px;
  border-style: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.073);
}
form input:hover {
  outline: 2px solid rgb(9, 102, 189);
}

form button {
  text-align: center;
  width: 100%;
  padding: 12px;
  border-radius: 40px;
  border: none;
  font-size: 1rem;
  color: gray;
  cursor: pointer;
}
#signup {
  position: absolute;
  top: 0;
  left: 80%; 
  opacity: 0;
}
.auth-container.active-signup #signin {
  transform: translateX(-100%);
  opacity: 0;
}

.auth-container.active-signup #signup {
  transform: translateX(-100%);
  opacity: 1;
}
.auth-switch p{
   font-size: 14px;
}
.auth-switch {
  color: rgba(62, 62, 215, 0.796);
   display: flex;
   justify-content: center;
   align-items: center;
  margin-top: 5%;
}
.auth-switch button {
 
  width: 30%;
  border-radius: 0%;
  background-color: inherit;
  transition: 100ms ease-in-out;
  font-size: 14px;
  margin-left: 3px;

}
.auth-switch button:hover {
  background-color: rgb(13, 13, 125);
  border-radius: 20px;
  color: rgb(255, 255, 255);
}

